body {
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background: #0B0C10;
  color: #fff; }

.textCont {
  margin: 0 auto;
  text-align: center;
  padding: 0% 5%; }
  .textCont h1 {
    margin-bottom: 10px; }

h1, h4, h5 {
  margin: 0; }

.fab, .fas {
  margin: 0 5px;
  text-shadow: 4px 4px 8px #000000; }

.fa-codepen {
  margin: 0px auto 15px auto !important; }

p {
  font-size: 20px; }

.y-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important; }

.textLeft {
  text-align: left !important; }

.showcase {
  height: 98vh;
  max-height: 1050px;
  background: #ddc6b5; }

.sc-text h4 {
  margin-bottom: 20px;
  font-size: 35px; }
.sc-text h1, .sc-text p {
  margin-bottom: 30px; }
.sc-text h1 {
  font-size: 55px; }

#scTextCont {
  color: #000; }

.sc-image {
  display: none; }

.aboutCont {
  height: 250px;
  background: #ebe7e7;
  color: #000; }
  .aboutCont p {
    margin-bottom: 0; }

.languageGrid {
  height: 1400px;
  border-bottom: 8px solid #0B0C10;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: "c1" "c2" "c3" "c4"; }

#c1 {
  grid-area: c1;
  background: #a07e5d; }

#c2 {
  grid-area: c2;
  background: #af6a2d; }

#c3 {
  grid-area: c3;
  background: #ac4139; }

#c4 {
  grid-area: c4;
  background: #664d4c; }

#c1 h2, #c2 h2, #c3 h2, #c4 h2 {
  margin-top: 40px; }
#c1 p, #c2 p, #c3 p, #c4 p {
  margin-top: 10%; }

.projectIntro {
  height: 250px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/work.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#projectMain {
  color: #000;
  border-top: 8px solid #0B0C10;
  border-bottom: 8px solid #0B0C10;
  text-shadow: #000;
  transition: all 0.4s ease-in-out; }

#arcadia-text {
  height: 600px;
  background-image: url("/img/scaffold.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#arcadia-bg {
  display: none; }

#projectGrid {
  height: 1150px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas: "p1" "p2" "p3";
  transition: all 0.4s ease-in-out; }

.mobileDisplay {
  display: block !important; }

.desktopDisplay {
  display: none !important; }

#p1 {
  background-image: url("/img/eatery.jpeg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  grid-area: p1;
  transition: all 0.4s ease-in-out; }

#p2 {
  background-image: url("https://i.imgur.com/gUMHWvP.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  grid-area: p2;
  transition: all 0.4s ease-in-out; }

#p3 {
  border-radius: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  color: white;
  grid-area: p3;
  transition: all 0.4s ease-in-out; }

.codepenLogo {
  grid-area: codepenLogo;
  text-align: center; }

#showcaseButton {
  width: auto;
  max-width: 460px;
  margin: 0 auto;
  background: transparent; }

#formButton {
  background: none;
  border: #E2AD58 2px solid;
  color: white;
  width: 50%;
  padding: 10px;
  margin: 0 auto;
  display: block; }

#formButton:hover {
  border: green 2px solid;
  color: white; }

a:hover {
  text-decoration: none; }

.button {
  width: 170px;
  display: block;
  margin: 10px auto;
  border: 3px solid #E1AC59;
  color: #E1AC59;
  border-radius: 7%;
  text-decoration: none;
  transition: .40s;
  -webkit-transition: .40s;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0px;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer; }

.buttonBlack {
  border: #000 3px solid;
  color: #000; }

.button:hover {
  background-color: #E2AD58;
  border: 3px solid #E2AD58;
  color: #fff; }

.contact {
  height: 800px;
  width: 80%;
  margin: 0 auto; }
  .contact h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #63F4EA; }

.contactForm {
  width: 100%;
  margin: 0 auto; }
  .contactForm .input, .contactForm .textarea {
    color: white;
    background: none;
    border: none;
    border-bottom: #E2AD58 solid 1px;
    margin: 30px auto;
    width: 100%;
    display: block; }
    .contactForm .input :focus, .contactForm .textarea :focus {
      border-bottom: pink; }
  .contactForm .input {
    padding-bottom: 15px; }
  .contactForm .textarea {
    height: 100px; }

.input:focus {
  border-bottom: #fff solid 1px; }

:focus {
  outline: none; }

@media (min-width: 813px) {
  .showcase {
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 65% 10%;
    grid-template-areas: '. .' 'sc-image sc-text' 'sc-image .'; }

  .sc-image {
    display: block;
    grid-area: sc-image;
    width: 100%; }
    .sc-image img {
      float: right;
      height: 100%;
      width: 90%;
      min-width: 600px;
      max-width: 800px;
      min-height: 380px; }

  .sc-text {
    grid-area: sc-text;
    display: block; }

  #scTextCont {
    color: #000;
    margin-top: 10%; }

  .languageGrid {
    height: 400px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    grid-template-areas: "c1 c2 c3 c4"; }

  #projectGrid {
    height: 400px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 100%;
    grid-template-areas: "p1 p2 p3"; }

  #projectMain {
    background: #ddc6b5;
    height: 750px;
    transition: all 0.4s ease-in-out;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "arcadia-text arcadia-bg"; }

  .mobileDisplay {
    display: none !important; }

  .desktopDisplay {
    display: block !important; }

  #arcadia-text {
    height: auto;
    grid-area: arcadia-text;
    background: transparent; }

  #arcadia-bg {
    display: block;
    grid-area: arcadia-bg; }
    #arcadia-bg img {
      width: 100%; }

  .fab .fas {
    margin: 10% 7%; }

  .button {
    display: inline-block;
    margin: 10px; }
    .button .fab, .button .fas {
      margin: 0; }

  .contactForm {
    width: 480px; } }

/*# sourceMappingURL=main.css.map */
