body{
    opacity: 0;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #fff;
    transition: all 1s ease;
}

.textCont{
    justify-self: center;
    align-self: center;
    margin: 0 auto;
    text-align: center;
    padding: 0% 5%;
    h1{
        margin-bottom: 10px;
    }
}

h1,h4,h5{
    margin: 0;
}

.fab, .fas{
    margin: 0 10px;
    text-shadow: 4px 4px 8px #000000;
}
p{
    font-size: 20px;
}
a{
	
	&:hover{
		text-decoration: none;
		// color: white;
	}
}
.textLeft{
    text-align: left !important;
}

/////////////////////
//     Showcase    // 
/////////////////////

.showcase{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: 
    'sc-text';
    height: 98vh;
    background: rgb(221, 198, 181);
    justify-items: center;
    align-items: center;
}

.sc-text{
    grid-area: sc-text;
    width: 100%;
    h4{
        margin-bottom: 20px;
        font-size: 2rem;
    }
    h1,p{
        margin-bottom: 30px;
    }
    h1{
        font-size: 3rem;
        color: #f5f5f5;
        text-shadow: #000 3px 4px 3px;
    }

}
#scTextCont{
    color: #000;
    text-align: center;
}

.sc-image{
    display: none; //IMAGE REMOVED FOR MOBILE SCREENS
}


//////////////////////////////////////////
//          About Section               //
//////////////////////////////////////////

.aboutCont{
    height: 250px;
    background: rgb(235, 231, 231);
    color: #000;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    p{
        margin-top: 15px;
        margin-bottom: 0;
    }
}

//////////////////////////////////////////
//          Skill Grid                  //
//////////////////////////////////////////

.languageGrid{
    height: 1400px;
    border-bottom: 8px solid #0B0C10;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    "c1"
    "c2"
    "c3"
    "c4";
}

#c1{
    grid-area: c1;
    background: rgb(160, 126, 93);
    
}
#c2{
    grid-area: c2;
    background: rgb(175, 106, 45);
}
#c3{
    grid-area: c3;
    background: #ac4139;
}
#c4{
    grid-area: c4;
    background: rgb(102, 77, 76);
}

#c1, #c2, #c3, #c4{
    display: grid;
    h2{
        margin-top: 40px;
    }
    p{
        margin-top: 10%;
    }
}

///////////////
// Projects  //
///////////////
.projectIntro{
    display: grid;
    height: 250px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/work.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#projectMain{
    color: #000;
    border-top: 8px solid #0B0C10;
    border-bottom: 8px solid #0B0C10;
    text-shadow: #000;
    transition: all 0.4s ease-in-out;
}
#arcadia-text{
    display: grid;
    height: 600px;  
    background-image: url("/img/scaffold.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#arcadia-bg{
    display: none;
}

#projectGrid{
    height: 1150px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: 
    "p1"
    "p2"
    "p3";

}

.projectItem{
    transition: all 0.35s ease-in-out;
    width: 100%;
    display: grid;
    color: white;
    .button{
        width: 140px;
        padding: 5px;
        font-size: 17px;

    }
}
.p1{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/img/eatery3.jpg") no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    grid-area: p1;
}
.p2{
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/img/trump.jpg") no-repeat 0 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    grid-area: p2;
}
.p3{
    background: rgb(22, 22, 22);
    grid-area: p3;
    grid-template-rows: 25% auto;
}
.penLogo{
    height: max-content;
    text-align: center;
    align-self: center;
}
.codePenCont{
    justify-self: center;
    align-self: start;
}
.codeBackground{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/img/code1.jpg") no-repeat 0 0 !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: left !important;
}
////////////
//   Buttons  //
////////////

#showcaseButton{
    width: auto;
    max-width: 320px;
    margin: 0 auto;
}
#formButton{
    background: none;
    border: #000 2px solid;
    color: white;
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    display: block;
    
}
#formButton:hover{
    border: green 2px solid;
    color: white;
}

.button {
    width: 170px;
    display: block;
    margin: 15px auto;
    border: 4px solid #000;
    color: #E1AC59;
    border-radius: 15%;
    text-decoration: none;
    transition: .40s;
    -webkit-transition: .40s;
	padding: 15px 20px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
    letter-spacing: 0px;
    background: rgba(0, 0, 0, .6);
    white-space: nowrap;
    cursor: pointer;
    &:hover{
        background-color: #E2AD58;
        border: 4px solid #E2AD58;
        color: #fff;
    }
}
.contact{
    display: grid;
    height: 800px;
    width: 80%;
    margin: 0 auto;
    h2{
        text-align: center;
        margin-bottom: 30px;
        color: #63F4EA;
    }
}
.contactForm{
    width: 100%;
    justify-self: center;
    align-self: center;
    .input, .textarea{
        color: white;
        background: none;
        border: none;
        border-bottom: #E2AD58 solid 1px;
        margin: 30px auto;
        width: 100%;
        display: block;
        :focus{
            border-bottom: pink;
        }
    }
    .input{
        padding-bottom: 15px;
    }
    .textarea{
        height: 100px;
    }
}

.input:focus{
    border-bottom: #fff solid 1px;
}

:focus{
    outline: none;
}


///////////////////////
//   Media Queries  ///
///////////////////////

@media (min-width: 813px){
    .showcase{
        display: grid;
        position: relative;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 50% 30%;
        grid-template-areas: 
        '. .'
        'sc-image sc-text'
        'sc-image .';

    }
    .sc-image{
        display: block;
        justify-self: end;
        align-self: end;
        grid-area: sc-image;
        height: 100%;
        min-height: 380px;
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 10px #222);
    }
    .sc-text{
        grid-area: sc-text;
        justify-self: start;
        align-self: center;
        display: block;
        h4{
            font-size: 3rem;
        }
        h1{
            font-size: 4rem;
        }
        
    }
    #scTextCont{
        color: #000;
        text-align: left;
		}
		.aboutCont{
			padding: 0 15%;
		}
    .languageGrid{
        height: 400px;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100%;
        grid-template-areas: 
        "c1 c2 c3 c4";
    }
    #projectGrid{
        height: 400px;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: 100%;
        grid-template-areas: 
        "p1 p2 p3";
    }
    #projectMain{
        background: #ddc6b5;
        height: 650px;  
        transition: all 0.4s ease-in-out;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas:
        "arcadia-text arcadia-bg";
    }
    #arcadia-text{
        height: auto;
        grid-area: arcadia-text;
        background: transparent;
    }
    
    #arcadia-bg{
        display: grid;
        grid-area: arcadia-bg;
        img{
            width: 100%;
            
        }
        
    }
    .button {
        display: inline-block;
        margin: 10px;
        .fab, .fas{
            margin: 0;
        }
    }
    .contactForm{
        width: 480px;
    }
}